{% extends 'iti/base.html' %}
{% block title %}Course List{% endblock %}
{% block content %}
<h2>Course List</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
        <th>Track</th>
        <th>Actions</th>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.ID }}</td>
        <td><a href="{% url 'Course_Details' course.ID %}">{{ course.name }}</a></td>
        <td>{{ course.code }}</td>
        <td>{{ course.track }}</td>
        <td>
            <a href="{% url 'Course_Update' course.ID %}">Update</a>
            <a href="{% url 'Course_Delete' course.ID %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'Course_Add' %}">Add Course</a>
{% endblock %}
